@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

body::-webkit-scrollbar {
  width: 11px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #F58629;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

@layer utilities {
  .input-class {
    @apply text-16 placeholder:text-16 rounded-lg border border-gray-300 text-gray-900 placeholder:text-gray-500
  }

  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

   /* Mobile nav */
   .mobilenav-sheet {
    @apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto;
  }

  .mobilenav-sheet_close {
    @apply flex gap-3 items-center p-4 rounded-lg w-full max-w-60;
  }

   /* Root Layout */
   .root-layout {
    @apply flex h-16 items-center justify-between p-5 sm:p-8 md:hidden;
  }

  .text14_padding10 {
    @apply text-14 px-4 py-2.5 font-semibold;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .header-2 {
    @apply md:text-[2rem] 2xl:text-[3rem] 2xl:w-[40rem] capitalize w-[18rem] md:w-[35rem] font-montserrat font-semibold;
  }

  .header-3 {
    @apply lg:text-[1.5rem]  2xl:text-[2rem] font-montserrat font-semibold;
  }

  .text-10 {
    @apply text-[10px] font-roboto leading-[14px];
  }

  .text-12 {
    @apply text-[12px] font-roboto font-normal leading-[18px];
  }

  .text-14 {
    @apply text-[14px] font-roboto font-normal leading-[20px];
  }

  .text-16 {
    @apply text-[16px] font-roboto font-normal leading-[24px];
  }

  .text-18 {
    @apply text-[18px] font-roboto font-normal leading-[24px];
  }

  .text-20 {
    @apply text-[20px] font-roboto font-normal leading-[24px];
  }

  .text-24 {
    @apply text-[24px] font-roboto font-normal leading-[30px];
  }

  .text-26 {
    @apply text-[26px] leading-[32px];
  }

  .text-30 {
    @apply text-[30px] leading-[38px];
  }

  /* Auth Form */
  .auth-form {
    @apply flex min-h-screen w-full max-w-[420px] flex-col justify-center gap-5 py-10 md:gap-8;
  }

  .form-item {
    @apply flex flex-col gap-1.5;
  }

  .form-label {
    @apply text-14 w-full max-w-[280px] font-medium text-gray-700;
  }

  .form-message {
    @apply text-12 text-red-500;
  }

  .form-btn {
    @apply text-16 rounded-lg border border-bankGradient bg-bank-gradient font-semibold text-white shadow-form;
  }

  .form-link {
    @apply text-14 cursor-pointer font-medium text-bankGradient;
  }

  .hero {
    @apply md:w-full min-h-[80vh] mt-[0.3rem]
  }

  .hero-image {
    @apply  h-[88vh] w-[100vw] md:mb-[2vh]
  }

  /* Sidebar and Navbar*/
  .navbar {
    @apply max-md:hidden sm:p-2 2xl:w-full;
  }
  .sidebar {
    @apply sticky left-0 top-0 flex h-[20px] w-fit justify-between border-r border-gray-200 bg-white pt-8 text-white max-md:hidden sm:p-4 xl:p-6 2xl:w-[355px];
  }

  .navbar-logo {
    @apply max-xl:hidden;
  }

  .navbar-link {
    @apply flex gap-3 items-center py-1 md:p-3 2xl:p-4 rounded-lg justify-center;
  }

  .navbar-label {
    @apply text-18 font-semibold text-white whitespace-nowrap max-xl:hidden;
  }

  .navbar-scroll {
    @apply fixed top-0 p-2.5 bg-black-1 flex md:flex-row items-center md:justify-between z-10 w-full text-white transition-all ease-out duration-300
  }

  /* footer */
  .footer {
    @apply p-[2.5rem] md:p-[3rem] bg-black-1 text-[#fff] w-[100vw]
  }

  .footer-labels {
    @apply text-12 md:text-16 opacity-80 whitespace-nowrap cursor-pointer font-light
  }

  .footer-label_two {
    @apply text-10 text-white flex justify-center items-center gap-2 md:text-14 opacity-60 whitespace-nowrap font-light
  }

  .footer-img {
    @apply md:left-[3rem] md:w-[58rem] md:h-[30rem] absolute md:bottom-[-23rem]
  }

  /* Auth Form */
  .auth-form {
    @apply flex min-h-screen w-full max-w-[420px] flex-col justify-center gap-5 py-10 md:gap-8;
  }

  .form-item {
    @apply flex flex-col gap-1.5;
  }

  .form-label {
    @apply text-14 w-full max-w-[280px] font-medium text-gray-700;
  }

  .form-message {
    @apply text-12 text-red-500;
  }

  .form-btn {
    @apply text-16 rounded-lg border border-secondary bg-secondary font-semibold text-white shadow-form;
  }
}